### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [50]:
# Dependencies and Setup
import pandas as pd

import numpy as np


# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"


# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [51]:
# Find the total number of players based on the total number of Screen Names (SN)
total_players = len(purchase_data_df["SN"].value_counts())


# Create a dataframe with the total players data
player_count = pd.DataFrame({"Total Players" : [total_players]})

player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [52]:
# Number of unique items sold
unique_items = len((purchase_data_df["Item ID"]).unique())


# Average price of all the items sold
average_price = (purchase_data_df["Price"]).mean()


# Total number of purchases
number_of_purchases = (purchase_data_df["Purchase ID"]).count()


# Total revenue made off all the purchases
total_revenue = (purchase_data_df["Price"]).sum()


# Creation of a dataframe for all the purchasing data
purchase_analysis_df = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                       "Average Price" : [average_price], 
                                       "Number of Purchases" : [number_of_purchases], 
                                       "Total Revenue" : [total_revenue]})


# Formatting for currency
purchase_analysis_df.style.format({"Average Price" : "${:,.2f}",
                                     "Total Revenue" : "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [53]:
# Grouping of the data by gender
gender_numbers = purchase_data_df.groupby("Gender")


# The number of each gender by sorting the unique Screen Names (SN)
total_count_gender = gender_numbers.nunique()["SN"]


# Percentage of genders with the total number of players found above
total_percent_gender = total_count_gender/total_players * 100


# Creating a dataframe of the gender percentages
total_percent_gender_df = pd.DataFrame({"Percentage of Players": total_percent_gender,
                                        "Total Count": total_count_gender})


# Formatting for percentage
total_percent_gender_df.style.format({"Percentage of Players" : "{0:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# Finding the number of purchases by gender
gender_purchase_count = gender_numbers["Purchase ID"].count()


# Average purchase prices by gender
gender_purchase_average = gender_numbers["Price"].mean()


# Average purchase total per person by gender
gender_purchase_total = gender_numbers["Price"].sum()


gender_pruchase_total_average = gender_purchase_total/total_count_gender


gender_demographics_df = pd.DataFrame({"Purchase Count by Gender": gender_purchase_count, 
                                    "Average Purchase Price by Gender": gender_purchase_average,
                                    "Total Purchase Value by Gender": gender_purchase_total,
                                      "Average Purchase Total per Person by Gender": gender_pruchase_total_average})

gender_demographics_df.style.format({"Average Purchase Price by Gender":"${:,.2f}",
                                     "Total Purchase Value by Gender":"${:,.2f}", 
                                    "Average Purchase Total per Person by Gender":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [55]:
# Creating bins for ages
age_bins = [0, 9,  14, 19, 24, 29, 30, 39, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


# Cutting out the age data from the dataframe and into bins
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], age_bins, labels=group_names)


# Grouping by age bins
ages_grouped = purchase_data_df.groupby("Age Group")

# Total number of unique screen names by bin
total_age_count = ages_grouped["SN"].nunique()


# Percent based on the total players by bin
percentage_age_group = (total_age_count/total_players) * 100


# Creating the dataframe to display the data
ages_demographics = pd.DataFrame({"Percentage of Players by Age": percentage_age_group,
                                  "Total Count by Age": total_age_count})

ages_demographics.style.format({"Percentage of Players by Age":"{0:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [56]:
age_purchase_count = ages_grouped["Purchase ID"].count()


age_purchase_average = ages_grouped["Price"].mean()


age_purchase_total = ages_grouped["Price"].sum()


age_pruchase_total_average = age_purchase_total/total_age_count


ages_demographics = pd.DataFrame({"Purchase Count by Age": age_purchase_count,
                                  "Average Purchase by Age": age_purchase_average,
                                  "Total Purchase Value by Age": age_purchase_total,
                                  "Average Purchase Total per Person by Age": age_pruchase_total_average})

ages_demographics.style.format({"Average Purchase by Age":"${:,.2f}",
                                "Total Purchase Value by Age":"${:,.2f}",
                                "Average Purchase Total per Person by Age":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
spender_data = purchase_data_df.groupby(["SN"])


spender_purchase_count = spender_data["Purchase ID"].count()


spender_purchase_price_avg = spender_data["Price"].mean()


spender_purchase_total = spender_data["Price"].sum()


top_spender = pd.DataFrame({"Purchase Count": spender_purchase_count,
                            "Average Purchase": spender_purchase_price_avg,
                            "Total Purchase Value": spender_purchase_total})

top_spender_sorted = top_spender.sort_values(["Purchase Count"], ascending=False).head()

top_spender_sorted.style.format({"Average Purchase":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [58]:
items = purchase_data_df[["Item ID", "Item Name", "Price"]]


grouped_items = items.groupby(["Item ID", "Item Name"])


item_purchase_count = grouped_items["Price"].count()


item_total_purchase_value = (grouped_items["Price"]).sum()


item_price = item_total_purchase_value/item_purchase_count


popular_items = pd.DataFrame({"Purchase Count":item_purchase_count,
                             "Item Price": item_price,
                             "Total Purchase Value": item_total_purchase_value})

popular_items_sorted = popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_items_sorted.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [59]:
# Sorting the popular items dataframe by the total purchase value
profitable_items = popular_items .sort_values(["Total Purchase Value"], ascending=False).head()

profitable_items.style.format({"Item Price":"${:,.2f}",
                        "Total Purchase Value":"${:,.2f}"})